<div class="row">
  <div class="col-xs-12 main-content">

    <h1><%= @message %></h1>

    <%# micropostのリストを推測して表示する %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>

  </div>
</div>
