<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 main-content">

    <h4><%= @message %></h4>

    <%# micropostのリストを推測して表示する %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>

  </div>
</div>
