<% provide(:title, '通知') %>
<div class="row">
  <div class="col-xs-12 main-content">
    <div class="notification-contents">
      <% if @notifications.any? %>
        <%= link_to notification_path(@notifications), {method: :delete} do %>
          <div class="delete-tag"><span class= "fa fa-trash-o fa-lg"></span>通知を全て削除する</div>
        <% end %>

        <%= render @notifications %>

      <% else %>
        <p>あなたがフォローされたり、あなたの投稿にコメントやお気に入りがあった場合にここに通知されます</p>
      <% end %>
    </div>
  </div>
</div>