<% provide(:title, "お気に入り") %>
<div class="row">
  <div class="col-xs-12 main-content">
    <%= render "users/user_profile"%>
    <% if @user.bookmarked_microposts.any? %>
      <div class="micropost-title">お気に入りの写真</div>
    <% else %>
      <div class="micropost-title">お気に入りの写真はまだありません</div>
    <% end %>
    <hr>
    <% if @user.bookmarked_microposts.any? %>
      <div class="microposts-list">
        <% @user.bookmarked_microposts.each do |micropost| %>
          <div class="micropost-picture">
            <%= image_tag micropost.picture.url, class: "micropost-img"%>
            <div id="micropost-modal">
              <%= render 'users/micropost_modal', micropost: micropost  %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.micropost-picture').click(function() {
    var $displayedMicropost = $(this).find('#micropost-modal');
    $displayedMicropost.fadeIn();
    return false;
  });

  $('.close-modal').click(function() {
    $(this).parents('#micropost-modal').fadeOut();
    return false;
  });
</script>
