<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-xs-12 main-content">
    <%= render "users/user_profile"%>
    <% if @user.microposts.any? %>
      <div class="micropost-title">投稿済みの写真</div>
    <% else %>
      <div class="micropost-title">投稿している写真はまだありません</div>
    <% end %>
    <hr>
    <% if @user.microposts.any? %>
      <div class="microposts-list">
        <% @user.microposts.each do |micropost| %>
          <div class="micropost-picture">
            <%= image_tag micropost.picture.url%>
          </div>
        <% end %>
      </div>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
