<div id="bookmark_form">
  <% if current_user.bookmarked_microposts?(micropost) %>
    <%= render 'microposts/clear_bookmark', micropost: micropost %>
  <% else %>
    <%= render 'microposts/bookmark', micropost: micropost %>
  <% end %>
</div>
