<% provide(:title, '投稿') %>
<div class="row">
  <aside class="col-md-4">
    <div class="user-profile">
      <%= gravatar_for current_user %>
      <div class="user-profile-content">
        <div class="user-title">
          <div class= "user-name">
            <%= link_to current_user.name, current_user %>
          </div>
        </div>
        <div class="user-info">
          <div class="post-number">投稿 <%= current_user.microposts.count %>件</div>
        </div>
      </div>
    </div>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>
